@import "../../styles/fonts";
@import "../../styles/variables";
@import "../../styles/mixins";



.container {
    display: flex;
    justify-content: center;
    margin-top:80px;

    .container__form {
        text-align: center;
        font-family: $font5;
    }
    

    .form-control {
        max-width: 100%;
        border-radius: 3px;
        padding: 5px;
        margin: 2px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    

    .btn {
        border-radius: 8px;
        padding: 5px 20px;
        border: none;
        background-color: $color1;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
        margin: 2px;
    }
}

@include tablet {
    .form-control {
       width: 250px;
        
    }
}

@include desktop {
    .form-control {
        width: 400px;
         
     }
}

// .Form {
//     display:flex;
//     justify-content: center;
//     margin-top: 100px;
//     margin: 50px;

//     label {
//         color:white;
//         font-family: $font1;
//         padding: 5px;
//         display: flex;
//     }

//     input {
//         display: flex;
//         border-radius: 3px;
//         max-width: 100%;
//     }

//     textarea {
//         border-radius: 3px;
//         max-width: 100%;
//     }

//     .btn {
//         padding: 5px 10px;
//         border-radius: 34px;
//         background-color: tomato;
//         border: none;
//         margin-top: 5px;
//         font-family: $font1;
//     }
// }

// @include tablet {
//     float: left;
//   width: 100%;
//   margin: 60px;
// }

// @include desktop {
//     display: flex;
// }