.App-home {
    background-image: url("../../images/SAM_0603.JPG");
    height: 600px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}