.Slider {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: whitesmoke;
}

p {
  color: whitesmoke;
}

img {
  height: 250px;
  width: 100vw;
  margin: 15px;
  display: flex;
  justify-content: center;
}