.Slider {
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
  
  img {
  height: 250px;
  width: 100vw;
  margin: 15px;
  display: flex;
  justify-content: center;
}
}


